// Colors
$primary-color: #3c6e95;
$secondary-color: #2d495e;
$border-color: #ccc;
$placeholder-color: #999;
$form-background-color: #f9f9f9;
$form-border-color: #ddd;
$shadow-color: rgba(0, 0, 0, 0.1);

// Spacing
$form-padding: 20px;
$input-margin-bottom: 10px;
$container-margin: 20px;

// Font
$font-size: 18px;
$font-stack: Helvetica, sans-serif;

// Border
$input-border-radius: 5px;
$form-border-radius: 10px;
$button-border-radius: 5px;

// Width
$form-width: calc(100vw - 80px);
