@import '_variables';

@keyframes gradientBackground {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

body {
  font-family: $font-stack;
  color: $secondary-color;
  background: linear-gradient(-45deg, #e6e9f0, #f7f7f7, #e6e9f0, #f7f7f7);
  background-size: 400% 400%;
  animation: gradientBackground 30s ease infinite;
}

button {
  background-color: $primary-color;
  border-radius: $button-border-radius;
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey background */
  border-top: 5px solid $primary-color; /* Blue color */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#logo {
  position: absolute;
  left: 42px;
  top: 42px;
  width: 105px;
}
